<?xml version="1.0" encoding="utf-8"?>
<widget id="com.clarkeology.robot-butler" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Robot Butler</name>
  <description>LighwaveRF based home automation fun</description>
  <author href="http://www.clarkeology.com/blog/" email="pauly@clarkeology.com">Paul Clarke</author>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <preference name="orientation" value="portrait" />
  <preference name="phonegap-version" value="2.5.0" />
  <preference name="splash-screen-duration" value="500" />
</widget>
